<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furniture.shopping.model.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.furniture.shopping.model.pojo.User">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role_type" jdbcType="BIGINT" property="roleType" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="user_avatar" jdbcType="VARCHAR" property="avatar" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_no, `password`, role_type, signature
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.furniture.shopping.model.pojo.User">
    insert into sys_user (user_id, user_name, user_no, 
      `password`, role_type, signature
      )
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{roleType,jdbcType=BIGINT}, #{signature,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.furniture.shopping.model.pojo.User">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userNo != null">
        user_no,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="roleType != null">
        role_type,
      </if>
      <if test="signature != null">
        signature,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="businessLicense != null">
        business_license,
      </if>
      <if test="userStatus != null">
        user_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null">
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=BIGINT},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null">
        #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.furniture.shopping.model.pojo.User">
    update sys_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null">
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        role_type = #{roleType,jdbcType=BIGINT},
      </if>
      <if test="signature != null">
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null">
        business_license = #{businessLicense,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>

  <update id="updateUserStatus" parameterType="com.furniture.shopping.model.pojo.User">
    update sys_user
    <set>
      <if test="userStatus != null">
        user_status = #{userStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.furniture.shopping.model.pojo.User">
    update sys_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_no = #{userNo,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=BIGINT},
      signature = #{signature,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
    <update id="updateAvatar">
      update sys_user set user_avatar = #{avatar} where user_no = #{userNo}
    </update>
    <select id="selectByNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from sys_user where user_no=#{value}
  </select>
  <select id="selectByRole" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from sys_user where role_type=#{value}
  </select>
  <select id="getUser" resultMap="BaseResultMap"
          parameterType="com.furniture.shopping.model.pojo.User">
    select * from sys_user where user_no=#{userNo}
  </select>
</mapper>